@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Inter, sans-serif;
  position: relative;
}

@keyframes float {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh) rotate(360deg);
    opacity: 0;
  }
}

.bubble {
  position: absolute;
  bottom: -50px;
  background-color: hsla(var(--primary) / 0.2);
  border-radius: 50%;
  animation: float linear infinite;
  animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.dark .bubble {
    background-color: hsla(var(--primary) / 0.1);
}

.test-tube {
  position: absolute;
  bottom: -150px;
  opacity: 0.1;
  animation: float linear infinite;
  animation-timing-function: cubic-bezier(0.3, 0.2, 0.1, 1);
  color: hsl(var(--primary));
}

.dark .test-tube {
    opacity: 0.05;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 3% 11%;
    --card: 0 0% 100%;
    --card-foreground: 240 3% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 3% 11%;
    --primary: 26 99% 51%;
    --primary-foreground: 240 3% 11%;
    --secondary: 216 3% 67%;
    --secondary-foreground: 240 3% 11%;
    --muted: 216 3% 67%;
    --muted-foreground: 240 3% 11%;
    --accent: 26 99% 51%;
    --accent-foreground: 240 3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 216 3% 67%;
    --input: 216 3% 67%;
    --ring: 26 99% 51%;
    --chart-1: 26 99% 51%;
    --chart-2: 240 3% 11%;
    --chart-3: 216 3% 67%;
    --chart-4: 240 2% 25%;
    --chart-5: 0 0% 100%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 3% 11%;
    --foreground: 0 0% 100%;
    --card: 240 2% 25%;
    --card-foreground: 0 0% 100%;
    --popover: 240 2% 25%;
    --popover-foreground: 0 0% 100%;
    --primary: 26 99% 51%;
    --primary-foreground: 240 3% 11%;
    --secondary: 240 2% 25%;
    --secondary-foreground: 0 0% 100%;
    --muted: 240 2% 25%;
    --muted-foreground: 0 0% 100%;
    --accent: 26 99% 51%;
    --accent-foreground: 240 3% 11%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 2% 25%;
    --input: 216 3% 67%;
    --ring: 26 99% 51%;
    --chart-1: 26 99% 51%;
    --chart-2: 0 0% 100%;
    --chart-3: 216 3% 67%;
    --chart-4: 240 2% 25%;
    --chart-5: 240 3% 11%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
